<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hieuthuoc.Properties.Settings.hieuthuocConnectionString"
            connectionString="Data Source=PHAMHAIANH\SQLEXPRESS;Initial Catalog=hieuthuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="hieuthuoc.Properties.Settings.quanli_hieuthuocConnectionString"
            connectionString="Data Source=PHAMHAIANH\SQLEXPRESS;Initial Catalog=quanli_hieuthuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>